
{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}


<div class="row">

  <div class="col-sm-6 col-sm-offset-3 text-center" >

    <img class="img-responsive center-block"  src="{% static 'img/3.jpg' %}" style="height:500px;"  alt="tig zavarivac inox"><br>


  <p>Više od trideset godina ispunjavamo Vaše zahteve.<p>
  <p>Dokazali smo se kvalitetom i poštovanjem rokova.</p>
  <p>Znamo kako da prema Vašim željama i zahtevima, kvalitetno, brzo i efikasno napravimo i postavimo
    večite konstrukcije kojima se svi dive.


  </p><br>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Inox</h3>

  </div>
  <div class="panel-body">
    <img class="img-responsive center-block"  src="{% static 'img/cevi2.jpg' %}" style="height:300px;" alt="inox cevi">
    <p>
  Inox (u narodu poznat i kao <strong>prohrom</strong>) je vrsta oplemenjenog čelika otporna na koroziju izazvanu uslovima okoline.
  Posebnim načinom obrade (<strong>poliranjem</strong>) može se postići da ima visok sjaj  i na taj način konstrukcije privlače pažnju i plene svojom lepotom.

    </p>

  </div>
  <!-- <div class="panel-footer">

  </div> -->
</div>
<!-- <img class="img-responsive center-block"  src="{% static 'img/3.jpg' %}" style="height=300px;" alt="tig zavarivac inox"> -->
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Crni čelik i kovano gvožđe</h3>

  </div>
  <div class="panel-body">
    <img class="img-responsive center-block"  src="{% static 'img/kov.jpg' %}" style="height:300px;" alt="kovani element">
    <p>
      Još od davnina posebno se cenilo majstorstvo obrade čelika kovanjem. Na taj način se dobijaju visoko cenjene konstrukcije klasične lepote.
    </p>

  </div>
  <!-- <div class="panel-footer">

  </div> -->
</div>

  </div>
</div>





{% endblock %}
