{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}


<div class="row">
  <div class="col-sm-6 col-sm-offset-3 text-center">

    <img class="img-responsive center-block"  src="{% static 'img/fences_1008091.jpg' %}" alt="ograde">



    <h1>Inox centar Đorđević</h1>
    <p>Obrada Inox (prohrom) materijala, crnog čelika i kovanog gvožđa</p>

    <br>

    <h3>Izrada kapija, ograda, ograda za terase, gelendera, metalnih vrata i druge galanterije</h3>
  </div>
</div>



{% endblock %}
